#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  gap: 1rem;
  font-size: 3rem;
}

.row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.letter {
  display: block;
  width: 2ch;
  padding: 0.25rem;
  border: 1px solid black;
  aspect-ratio: 1 / 1;
}